tr, td {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#interpreter {
	display: none; 
	max-height: 40em;
	margin: 0 auto;
	margin-top: 150px;
}

#descriptions-interpreter .panel-body {
	height: 70px;
	max-height:70px;
}

.datagrid {
	position: relative;
	min-width: 22.5em;
	display: inline-table;
}

.datagrid table {
	width: 100%;
	font-family: monospace; 
	border-collapse: collapse; 
	text-align: left; 
	background: #fff; 
	border: 3px solid #0061a7; 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	-o-border-radius: 3px; 
	border-radius: 3px;
}

.datagrid table td, .datagrid table th { 
	text-align: center;
}

.datagrid table th { 
	font-family: Droid Sans, Arial, sans-serif;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #044466), color-stop(1, #0061a7));
	background:-moz-linear-gradient(top, #044466 5%, #0061a7 100%);
	background:-webkit-linear-gradient(top, #044466 5%, #0061a7 100%);
	background:-o-linear-gradient(top, #044466 5%, #0061a7 100%);
	background:-ms-linear-gradient(top, #044466 5%, #0061a7 100%);
	background:linear-gradient(to bottom, #044466 5%, #0061a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#044466', endColorstr='#0061a7',GradientType=0);
}

.datagrid table thead tr {
	color: white;
} 
	
.datagrid table thead th:first-child { 
	border: none; 
}

.datagrid table tbody td { 
	color: #00496B; 
	font-size: 12px;
	font-weight: normal; 
}

.datagrid table tbody tr:nth-child(odd) { 
	background: #E1EEF4; 
	color: #00496B; 
}

.datagrid table tbody tr.selected, .selected { 
	background: orange; 
}

#code {
	position: relative;
	max-height: 28em;
	overflow-x: hidden;
	overflow-y: auto;
}

#codetable tr td:first-child {
	background-color: #f7f7f7;
	border-right: 0.1em solid #ddd;
	white-space: nowrap;
	text-align: right;
	min-width: 30px;
	color: #999;
	font-weight: bold;
}

#codetable tr td:second-child {
	text-align: left;
}

#codetable tr td {
	min-width: 5em;
	max-width: 5em;
}

#codebuttons {
	margin-left: 5em;
}

#flags table tr td {
	text-align: center;
}

#memory table tr td {
	text-align: right;
}

#memory tr td:first-child {
	background-color: #f7f7f7;
	border-right: 0.1em solid #ddd;
	white-space: nowrap;
	text-align: right;
	padding: 0 0.1em 0 0.15em;
	width: 30px;
	color: #999;
	font-weight: bold;
}

#stack table tr td {
	text-align: right;
}

#stack tr td:first-child {
	background-color: #f7f7f7;
	border-right: 0.1em solid #ddd;
	white-space: nowrap;
	text-align: right;
	padding: 0 0.1em 0 0.15em;
	width: 30px;
	color: #999;
	font-weight: bold;
}

.sp {
	background-color: #ffcdcd !important;
}

.bp {
	background-color: #dbdbff !important;
}

.bpsp {
	background: rgb(255,205,205); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(255,205,205,1) 0%, rgba(255,205,205,1) 50%, rgba(219,219,255,1) 50%, rgba(219,219,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,205,205,1)), color-stop(50%,rgba(255,205,205,1)), color-stop(50%,rgba(219,219,255,1)), color-stop(100%,rgba(219,219,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(255,205,205,1) 0%,rgba(255,205,205,1) 50%,rgba(219,219,255,1) 50%,rgba(219,219,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(255,205,205,1) 0%,rgba(255,205,205,1) 50%,rgba(219,219,255,1) 50%,rgba(219,219,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(255,205,205,1) 0%,rgba(255,205,205,1) 50%,rgba(219,219,255,1) 50%,rgba(219,219,255,1) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(255,205,205,1) 0%,rgba(255,205,205,1) 50%,rgba(219,219,255,1) 50%,rgba(219,219,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcdcd', endColorstr='#dbdbff',GradientType=1 ); /* IE6-9 */
}

#globals tr td:first-child {
	background-color: #f7f7f7;
	border-right: 0.1em solid #ddd;
	white-space: nowrap;
	text-align: right;
	padding: 0 0.1em 0 0.15em;
	width: 30px;
	color: #999;
	font-weight: bold;
}

#globals tr td:nth-child(2) {
	border-right: 0.1em solid #ddd;
	white-space: nowrap;
	text-align: center;
	padding: 0 0.1em 0 0.15em;
	color: #999;
	font-weight: bold;
}

#globals tr td {
	text-align: right;
}

#registers tr td:first-child {
	background-color: #f7f7f7;
	border-right: 0.1em solid #ddd;
	white-space: nowrap;
	text-align: right;
	padding: 0 0.1em 0 0.15em;
	color: #999;
	font-weight: bold;
	width: 30px;
}

#registers tr td {
	text-align: right;
}

.functionClass {
	color: #cc6600  !important;
}

.dataClass {
	color: #009900  !important;
}

.arithClass {
	color: #660066  !important;
}

.jumpClass {
	color: #0099ff  !important;
}

.labelClass {
	font-style: italic  !important;
	color: #41a5a0  !important;
	text-align: left !important;
}

.staticClass {
	color: #ff0000 !important;
}

.error-message {
	position: fixed;
	top: 0px;
	width:100%;
	z-index: 999;
	display: none;
}
